<!DOCTYPE html>

<html>
  <head>
    <title>Birthday page</title>
  </head>
  <style>
    body {
    background-color: #66ff99
}
  </style>
  <body>
    <% if @days_till_birthday == 365 %>
    Happy Birthday, <%= @name %>!
    <% else %>
    <%= @name %>, your birthday will be in <%= @days_till_birthday %> days
    <% end %>
  </body>
</html>
