<!DOCTYPE html>

<html>
  <head>
    <title>Birthday app</title>
  </head>
  <body>
    <h1>Hello there!</h1>
    What's your name?
  <form action="/birthday" method="post">
    <input type="text" name="name">
    When's your birthday?
    <input type="text" name="day">
    <select>
      <option value="jan">January</option>
      <option value="feb">February</option>
      <option value="mar">March</option>
      <option value="apr">April</option>
      <option value="may">May</option>
      <option value="jun">June</option>
      <option value="jul">July</option>
      <option value="aug">August</option>
      <option value="sep">September</option>
      <option value="oct">October</option>
      <option value="nov">November</option>
      <option value="dec">December</option>
    </select>
    <input type="submit" value="Go!">
  </body>
</html>
